body{
    background-image: url(https://fondosmil.com/fondo/25777.jpg);
}
h1{
    font-family: 'Moo Lah Lah', cursive;
    text-align: center;
    color: white;
}
td{
    color: white;
    text-align: center;
}
th{
    color: white;
    text-align: center;
}